body {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 50px;
}


#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: aqua;
}
#responsive-canvas {
  width: 100%;
}

.stack {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.disk {
  width: 50px;
  height: 20px;
  margin: 2px;
  background-color: dodgerblue;
}

#moves-counter {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  active-button{
    color:red;
  }